## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

assignment -3: data analytics / assingment date :02 october 2022/ student name :nithyasri p / student roll number : 821219104014 /maximum marks :2 marks

In [29]:
s="hi,there,sam!"
s.split()

['hi,there,sam!']

In [30]:
s = 'hi there dad!'
s.split()

['hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet="earth"
diameter=12742

In [6]:
print("the diameter of {} is {} kilmeters." .format(planet,diameter) )

the diameter of earth is 12742 kilmeters.

** Given this nested list, use indexing to grab the word "hello" **

In [32]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [33]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [10]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [11]:
# tuple is immutable
# tuples operations are safe.
#tuple consumes less memory.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [12]:
def domainget(email):
    print("your domain is: " + email.split('@')[-1] )
    email=input("please enter your email: >")
    domainget(email)

In [ ]:
domainget('user@domain.com')

your domain is: domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [13]:
def finddog(st):
    return 'dog' in st.lower().split()

In [14]:
finddog('is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [15]:
def countdog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
           count += 2 
           return count

In [16]:
countdog('this dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [17]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [35]:
def caught_speeding(speed, is_birthday):
  if is_birthday:
     speeding = speed - 5 
  else:
      speeding = speed 
  if speeding > 80 :
      return 'no ticket'
  else:
      return 'small ticket'

In [37]:
caught_speeding(81, True)

'small ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [20]:
salary = [8020,6020,9020,2030,5590]
sum = 0
for sal in salary:
  sum += sal;
  print(sum)

8020
14040
23060
25090
30680

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [21]:
dict1={'emp id':51, 'EMP name' : 'karthi', 'basicpay' : 2000}
dict2={'dept name':'cse','dept id' :104}
dict3= dict1.copy()
dict3.update(dict2)
print(dict3)

{'emp id': 51, 'EMP name': 'karthi', 'basicpay': 2000, 'dept name': 'cse', 'dept id': 104}