## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

Assignment-3 DATA ANALYTICS
Assignment date:03 october 2022
Student name:SUBALAKSHMI.G
Student roll number:821219104021
Maximum marks:2 marks

** What is 7 to the power of 4?**

In [1]:
7 **4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s="Hi there sam!"
x=s.split()

In [4]:
print(x)

['Hi', 'there', 'sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [52]:
planet="earth"
diameter=12742

In [53]:
print("the diameter of{} is{}kilometers.".format(planet,diameter))

the diameter ofearth is12742kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [49]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [51]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [10]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [18]:
#Tuple is immutable,list is mutable otherwise can be changed

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [19]:
def domainGet(inp):
  return inp.split('@')[1]

In [20]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [98]:
def finddog(st):
  if'dog'in st.lower():
    print("true")
  else:
    print("false")
st="is there a dog here?"
finddog(st)

true

In [99]:
finddog('is there a dog here?')

true

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [73]:
def countdog(st):
  count = 0
  for word in st.lower().split():
    if word =='dog':
      count += 2
      return count

In [66]:
countdog('this dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [32]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [43]:
def caught_speeding(speed,is_birthday):
  if is_birthday:
    speeding=speed-5
  else:
    speedingh=speed
  if speeding>80:
    return'no ticket'
  else:
    return'small ticket'

In [45]:
caught_speeding(81,True)

'small ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [42]:
salery=[8020,6020,9020,2030,5590]
sum=0
for sal in salery:
  sum+=sal;
  print(sum)

8020
14040
23060
25090
30680

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [38]:
dict1={'Empid','Emoname','Basicpay'}
dict2={'Deptname','DeptId'}
print(dict1|dict2)

{'Emoname', 'DeptId', 'Basicpay', 'Empid', 'Deptname'}